<!DOCTYPE html>
<!--thymeleaf will store user input as variables. connection to DB. provide the th: attribute-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Blog Site Version 2.0</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
		<h1>Welcome to Phibal's Blog Post Site!</h1>
		<h3>Check out my blogs!</h3>
		
		<!-- Will Display Existing Posts in the posts ArrayList -->
		<div class="row">
			<div th:each="blog:${posts}">
				<div class="col md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<p th:text="${blog.title}"/>
						</div>
					<div class="panel-body">
						<p th:text="${blog.author}" />
						<p th:text="${blog.blogEntry}" />
					</div>
					<div class="panel-footer">
						<!-- Link to Update -->
						<!-- Link to Show  -->
						<!--  Link to Destroy -->
					</div>
					</div>
				</div>
			</div>
		</div>
		
		<div>
			<a th:href="@{/blog_posts/new}">
				<button class= "btn btn-primary">Submit a New Blog Post</button>
			</a>
		</div>
		
		<!-- JQuery -->
		<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
		</div>
	</body>
</html>